<div class="listing-container section" fxLayout="column">
  <!-- Header container -->
  <div class="header-container" fxLayout="column" fxFlexAlign="center">
    <!-- Title -->
    <div class="title-container">
        <h1>LISTING VEHICLES</h1>
    </div>
    <!-- Search Input -->
    <mat-form-field>
        <input matInput type="text" placeholder="Search Vehicles" [(ngModel)]="searchText">
        <button mat-button *ngIf="searchText" matSuffix mat-icon-button aria-label="Clear" (click)="searchText=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
  </div>
  <!-- Listing vehicles -->
  <app-listing-vehicles [vehicles]="vehicles" [textFilter]="searchText" alignLayout="start"></app-listing-vehicles>
</div>
