<div class="listing-container section" fxLayout="column">
  <!-- Header container -->
  <div class="header-container" fxLayout="column" fxFlexAlign="center">
    <!-- Title -->
    <div class="title-container">
        <h1>LISTING VEHICLES</h1>
    </div>
    <!-- Search Input -->
    <mat-form-field>
        <input matInput type="text" placeholder="Search Vehicles" [(ngModel)]="searchText">
        <button mat-button *ngIf="searchText" matSuffix mat-icon-button aria-label="Clear" (click)="searchText=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
  </div>

  <!-- Vehicles container -->
  <div class="vehicles-container" fxLayout="row wrap" fxLayoutGap="40px">
    <mat-card class="card-container" *ngFor="let item of vehicles | filter : searchText">
      <!-- Header -->
      <mat-card-header>
        <h2>{{item.company + ' - ' + item.model}}</h2>
      </mat-card-header>
      <!-- Image -->
      <img mat-card-image [src]="item.thumb" alt="image">
      <!-- Content -->
      <mat-card-content>
        <mat-list>
            <mat-list-item> <b>Price:</b> ${{item.price}} </mat-list-item>
            <mat-list-item> <b>Year: </b>{{item.year}} </mat-list-item>
            <mat-list-item> <b>Motor: </b>{{item.motor}} </mat-list-item>
            </mat-list>
      </mat-card-content>
      <!-- Actions -->
      <mat-card-actions>
        <button mat-button routerLink="/listing/{{item.id}}">MORE INFO</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
