:host {
  .home-container {
    .brand-image {
      vertical-align: middle;
      margin-right: 10px;
    }

    [dir='rtl'] .brand-image {
      margin-right: 0;
      margin-left: 8px;
    }
  }
}
