<div class="comparative-container section" fxLayout="column">
  <!-- Header container -->
  <div class="header-container" fxLayout="column" fxFlexAlign="center">
    <!-- Title -->
    <div class="title-container">
        <h1>COMPARATIVE VEHICLES</h1>
    </div>

    <!-- Multiple select with checkbox -->
    <div>
      <form [formGroup]="formComparative">
        <mat-form-field class="form-field">
            <mat-select placeholder="Select vehicles" formControlName="vehicles" multiple>
              <mat-optgroup *ngFor="let group of allVehicles" [label]="group.brand">
                <mat-option (onSelectionChange)="selectionVehicle(vehicle)"
                [disabled]="this.formComparative.invalid && (!vehicle.selected || !vehicle.selected)" *ngFor="let vehicle of group.vehicles" [value]="vehicle">
                  {{vehicle.model}}
                </mat-option>
              </mat-optgroup>
            </mat-select>
          </mat-form-field>
      </form>
    </div>
    <!-- Error Form Message -->
    <div class="error-message" *ngIf="formComparative.invalid" >
      <h4>You can select only 3</h4>
    </div>
  </div>
  <!-- Listing vehicles -->
  <app-listing-vehicles [vehicles]="formComparative.value.vehicles" alignLayout="center"></app-listing-vehicles>
</div>
