<div class="main-container" fxLayout="column">
    <!-- Toolbar Container -->
    <mat-toolbar color="primary" class="toolbar-container">

      <!-- Mobile button to open side nav -->
      <button mat-icon-button (click)="sidenav.toggle()" fxHide.gt-sm>
        <mat-icon>menu</mat-icon>
      </button>

      <!-- Title App -->
      <h1 class="app-name" routerLink="/">ShowRoom App</h1>

      <!-- Menu desktop -->
      <mat-nav-list fxLayout="row" fxLayoutAlign="end" fxHide fxShow.gt-sm>
        <a mat-list-item routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/">Home</a>
        <a mat-list-item routerLinkActive="active" routerLink="/comparative">Comparative</a>
      </mat-nav-list>
    </mat-toolbar>

    <!-- Side Navigation container -->
    <mat-sidenav-container class="sidenav-container">

      <!-- Side Navigation for mobile -->
      <mat-sidenav #sidenav>
        <mat-nav-list>
          <a mat-list-item routerLinkActive="active-mobile" routerLink="/">Listing</a>
          <a mat-list-item routerLinkActive="active-mobile" routerLink="/comparative">Comparative</a>
        </mat-nav-list>
      </mat-sidenav>

      <!-- Content placeholder router -->
      <mat-sidenav-content class="content-container">
        <router-outlet></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
